.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    width: 100%;
    // height: 80%;
    min-height: 250px;
    padding: 10px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: #FAFAFA;
    margin: 10px 0;

    &.hovering {
        background: #F5F5F5;
        border: 2px solid #f16624;
        color: #dadada !important;
    }
}
