<h1 id="title" class="title">Login</h1>
<p class="sub-title">Hola! Ingresa con tu email</p>

<nb-alert
  *ngIf="showMessages.error && errors?.length && !submitted"
  outline="danger"
  role="alert"
>
  <p class="alert-title"><b>Algo salio mal</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">
        {{ error }}
        <!-- Email o password incorrectos. Intenta nuevamente  -->
    </li>
  </ul>
</nb-alert>

<nb-alert
  *ngIf="showMessages.success && messages?.length && !submitted"
  outline="success"
  role="alert"
>
  <p class="alert-title"><b>Login Exitoso!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">
      {{ message }}
      <!-- En breve seras redirigido al Home -->
    </li>
  </ul>
</nb-alert>

<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
  <div class="form-control-group">
    <label class="label" for="input-email">Dirección de Email:</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.email"
      #email="ngModel"
      name="email"
      id="input-email"
      pattern=".+@.+\..+"
      placeholder=""
      autofocus
      [status]="email.dirty ? (email.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.email.required')"
      [attr.aria-invalid]="email.invalid && email.touched ? true : null"
    />
    <ng-container *ngIf="email.invalid && email.touched">
      <p class="error-message" *ngIf="email.errors?.required">
        El Email es requerido!
      </p>
      <p class="error-message" *ngIf="email.errors?.pattern">
        Ingrese un email valido
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">Password:</label>
    <input
      nbInput
      fullWidth
      [(ngModel)]="user.password"
      #password="ngModel"
      name="password"
      type="password"
      id="input-password"
      placeholder=""
      [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : ''"
      [required]="getConfigValue('forms.validation.password.required')"
      [minlength]="getConfigValue('forms.validation.password.minLength')"
      [maxlength]="getConfigValue('forms.validation.password.maxLength')"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null"
    />
    <ng-container *ngIf="password.invalid && password.touched">
      <p class="error-message" *ngIf="password.errors?.required">
        El Password es requerido!
      </p>
      <p
        class="error-message"
        *ngIf="password.errors?.minlength || password.errors?.maxlength"
      >
        El Password debe contener de 
        {{ getConfigValue("forms.validation.password.minLength") }} a
        {{ getConfigValue("forms.validation.password.maxLength") }}
        caracteres
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group">
    <nb-checkbox
      name="rememberMe"
      [(ngModel)]="user.rememberMe"
      *ngIf="rememberMe"
      >Recuerdame</nb-checkbox
    >
    <a class="forgot-password" routerLink="../request-password"
      >Olvidaste tu contraseña?</a
    >
  </div>

  <button
    nbButton
    fullWidth
    status="success"
    [disabled]="submitted || !form.valid"
    [class.btn-pulse]="submitted"
  >
    Log In
  </button>
</form>

<section
  *ngIf="socialLinks && socialLinks.length > 0"
  class="links"
  aria-label="Social sign in"
>
  or enter with:
  <div class="socials">
    <ng-container *ngFor="let socialLink of socialLinks">
      <a
        *ngIf="socialLink.link"
        [routerLink]="socialLink.link"
        [attr.target]="socialLink.target"
        [attr.class]="socialLink.icon"
        [class.with-icon]="socialLink.icon"
        >{{ socialLink.title }}</a
      >
      <a
        *ngIf="socialLink.url"
        [attr.href]="socialLink.url"
        [attr.target]="socialLink.target"
        [attr.class]="socialLink.icon"
        [class.with-icon]="socialLink.icon"
        >{{ socialLink.title }}</a
      >
    </ng-container>
  </div>
</section>

<section class="another-action" aria-label="Register">
  No tenes usuario?
  <a class="text-link" routerLink="../register">Registrate</a>
</section>
