<nb-card>
  <nb-card-header>
    <h5>Administracion de todas las configuraciones</h5>
  </nb-card-header>

  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Usuarios">
       <cba-usuarios-admin></cba-usuarios-admin>
      </nb-tab>
      <nb-tab tabTitle="Categorias">
        <cba-categorias-admin></cba-categorias-admin>
      </nb-tab>
      <nb-tab tabTitle="Discapacidades">
        <cba-discapacidades-admin></cba-discapacidades-admin>
      </nb-tab>
    </nb-tabset>
    <!-- <router-outlet></router-outlet> -->
  </nb-card-body>
</nb-card>
