<nb-card>
        <nb-card-body>
          <agm-map
            [latitude]="lat"
            [longitude]="lng"
            [zoom]="zoom"
            (mapRightClick)="agregarMarcador($event)"
            *ngIf="marcadores"
          >
            <agm-marker
              *ngFor="let mark of marcadores"
              [latitude]="mark.lat"
              [longitude]="mark.lng"
              [iconUrl]="mark.icon"
              (markerClick)="clickedMarker(infowindow)"
            >
              <!-- [label]="labelOptions" -->
              <agm-info-window #infowindow>
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-4">
                      <img
                        class="img-info img-rounded"
                        [src]="mark.img"
                        alt="Imagen"
                      />
                    </div>
      
                    <div class="col-sm-8">
                      <div class="row">
                        <div class="col-12">
                          <h4>{{ mark.titulo }}</h4>
                          <hr />
                        </div>
                        <div class="col-12 mt-1 text-justify">
                          {{ mark.descripcion | slice:0:360}}
                          <hr>
                        </div>                 
                      
                      </div>
      
                      <div class="row justify-content-end mt-1">
                        
                        <button
                          class="mr-2"
                          nbButton
                          outline
                          status="danger"
                          size="small"
                          (click)="closeMarker(infowindow)"
                        >Cerrar
                        </button>
                        <button nbButton hero status="success" size="small">Ver más</button>
                      </div>
                    </div>
                  </div>
                </div>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </nb-card-body>
      </nb-card>
      