<nb-layout class="custom">
  <nb-layout-header class="custom" fixed>

    <img src="assets/svg/partnership.svg" class="partnership-icon mx-4" alt="Partnership">
    <img src="assets/svg/cba-accesible.png" alt="CBA-Accesible" style="width: 350px;">

    <!-- <h1 class="text-white ml-3">CBA - Accesible</h1> -->
    <span class="spacer"></span> 
    <span class="mr-5">
      <img class="mr-2" src="assets/svg/instagram.svg" alt="Instagram" style="width: 30px;">    
      <img class="mr-2" src="assets/svg/facebook.svg" alt="Facebook" style="width: 30px;">    
      <img class="mr-2" src="assets/svg/twitter.svg" alt="Twitter" style="width: 30px;">    
    </span>
    <button nbButton hero status="success" [routerLink]="'/pages'">Ingresar</button>
  </nb-layout-header>

  <nb-layout-column class="custom">

    <div class="row">


        
        <div class="col-6 text-justify">
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus nesciunt fugit eligendi facere commodi quam ratione voluptatem quasi officia pariatur veniam expedita nam voluptate tenetur cupiditate at, eos animi?</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus nesciunt fugit eligendi facere commodi quam ratione voluptatem quasi officia pariatur veniam expedita nam voluptate tenetur cupiditate at, eos animi?</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus nesciunt fugit eligendi facere commodi quam ratione voluptatem quasi officia pariatur veniam expedita nam voluptate tenetur cupiditate at, eos animi?</p>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repellendus nesciunt fugit eligendi facere commodi quam ratione voluptatem quasi officia pariatur veniam expedita nam voluptate tenetur cupiditate at, eos animi?</p>
        </div>

        <div class="col-sm-12 col-md-6">

            <div class="row justify-content-center align-content-center">
  
              <div class="col-auto">  
                <div class="botonaso">
                    <div class="row align-content-center justify-content-center" style="height: 100%;">                     
                        <img src="assets/svg/place.svg" alt="Lugares" style="height: 50%;">
                        <div class="col-12 text-center mt-2">
                          <h4 class="text-white">Lugares</h4>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-auto">  
                <div class="botonaso">
                    <div class="row align-content-center justify-content-center" style="height: 100%;">                     
                        <img src="assets/svg/calendar.svg" alt="Lugares" style="height: 50%;">
                        <div class="col-12 text-center mt-2">
                          <h4 class="text-white">Eventos</h4>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-auto">  
                <div class="botonaso">
                    <div class="row align-content-center justify-content-center" style="height: 100%;">                     
                        <img src="assets/svg/charity.svg" alt="Lugares" style="height: 50%;">
                        <div class="col-12 text-center mt-2">
                          <h4 class="text-white">Donaciones</h4>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-auto">  
                <div class="botonaso">
                    <div class="row align-content-center justify-content-center" style="height: 100%;">                     
                        <img src="assets/svg/questions.svg" alt="Lugares" style="height: 50%;">
                        <div class="col-12 text-center mt-2">
                          <h4 class="text-white">Preguntas</h4>
                        </div>
                    </div>
                </div>
              </div>
              
            </div>
  
              
          </div>
    </div>
  
  </nb-layout-column> 

  <!-- <nb-layout-footer class="custom">
      <span class="text-white ">Rodri Alvarellos</span>
      <span class="spacer"></span>
      <span>
        <img class="mr-2" src="assets/svg/instagram.svg" alt="facebook" style="width: 20px;">    
        <img class="mr-2" src="assets/svg/facebook.svg" alt="facebook" style="width: 20px;">    
        <img class="mr-2" src="assets/svg/twitter.svg" alt="facebook" style="width: 20px;">    
      </span>
  </nb-layout-footer> -->
</nb-layout>
