<nb-layout>
  <nb-layout-header fixed>
    <img src="assets/svg/partnership.svg" class="partnership-icon mx-4" alt="Partnership">
    <img src="assets/svg/cba-accesible.png" alt="CBA-Accesible" style="width: 350px;">
    <!-- <h1 class="text-white ml-3">CBA - Accesible</h1> -->


    <span class="spacer"></span>
    <button nbButton hero status="success">Ingresar</button>
  </nb-layout-header>
  <nb-layout-column>
    <div >
      <p>landing-page works!</p>
    </div>
  </nb-layout-column> 
  <nb-layout-footer></nb-layout-footer>
</nb-layout>
