<nb-card>
  <nb-card-header><h3>Formulario Demo</h3></nb-card-header>
  <nb-card-body>
    <form [formGroup]="myForm" (ngSubmit)="guardarForm()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" >
            <label for="inputFirstName" class="label">Nombre y Apellido 
              <span class="ml-3 text-danger" *ngIf="formErrors.nombre" >- {{ formErrors.nombre }}</span>
            </label>
            <input
              type="text"
              nbInput
              fullWidth
              id="inputFirstName"
              placeholder="Nombre y apellido"
              formControlName="nombre"
              [status]=" formErrors.nombre? 'danger': ''"
            />
            <span *ngIf="formErrors.nombre">
                {{ formErrors.nombre }}
            </span>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputProfesion" class="label">Profesión</label>
            <nb-select
              id="inputProfesion"
              fullWidth
              shape="semi-round"
              formControlName="profesion"
            >
              <nb-option value="1">Ingeniero en Sistemas</nb-option>
              <nb-option value="2">Analista en Sistemas</nb-option>
              <nb-option value="3">UX Designer</nb-option>
            </nb-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputEmail" class="label">Email</label>
            <input
              type="email"
              nbInput
              fullWidth
              id="inputEmail"
              placeholder="Email"
              shape="round"
              formControlName="email"
            />
            <span *ngIf="formErrors.email">
                {{ formErrors.email }}
            </span>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputWebsite" class="label">Website</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="inputWebsite"
              placeholder="Website"
              shape="rectangle"
              formControlName="website"
            />
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputDate" class="label">Fecha de nacimiento</label>
            <input
              nbInput
              id="inputDate"
              placeholder="Selecciona una fecha"
              [nbDatepicker]="formpicker"
              fullWidth
              formControlName="fechaNac"
            />
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-5">
          <label for="inputDescripcion" class="label">Descripción</label>
          <textarea
            id="inputDescripcion"
            nbInput
            fullWidth
            shape="semi-round"
            placeholder="Una text area como la gente"
            rows="5"
            formControlName="descripcion"
          ></textarea>
        </div>

        <div class="col-sm-4">
          <label class="label">Vacunaciones</label><br />
          <nb-checkbox
            (checkedChange)="toggleCheck($event)"
            status="primary"
            formControlName="sarampion"
            >Sarampión</nb-checkbox
          >
          <nb-checkbox status="success">Dengue</nb-checkbox>
          <nb-checkbox status="danger">Hepatitis</nb-checkbox>
          <nb-checkbox status="warning">Paperas</nb-checkbox>
        </div>

        <div class="col-sm-3">
          <label for="sexoGroup" class="label">Sexo: </label>
          <nb-radio-group id="sexoGroup" formControlName="sexo">
            <nb-radio *ngFor="let sex of sexos" [value]="sex.value">
              {{ sex.label }}
            </nb-radio>
          </nb-radio-group>
        </div>
      </div>

      <div class="row"></div>

      <button
        type="button"
        class="mt-3"
        nbButton
        outline
        status="danger"
        (click)="resetearForm()"
      >
        Reset Form
      </button>
      <button class="float-right mt-3" type="submit" nbButton>Submit</button>
    </form>
  </nb-card-body>
</nb-card>
<pre>{{ "Formulario es valido? " + myForm.valid }}</pre>
<pre>
  {{ myForm.value | json }}
</pre>
