<form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
  <nb-card class="own-scroll" [nbSpinner]="guardando" nbSpinnerStatus="primary" nbSpinnerSize="giant">
    <nb-card-header>
      <h4>Actualizá tus datos</h4>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12 col-md-7" >
          <!-- Nombre Input Field -->
          <div class="form-group">
            <label for="nombreInput" class="label">Nombre</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="nombreInput"
              formControlName="nombre"
              [status]=" userFormErrors.nombre? 'danger': 'basic'"
            />
          </div>

          <!-- Apellido Input Field -->
          <div class="form-group">
            <label for="apellidoInput" class="label">
              Apellido
            </label>
            <input
              type="text"
              nbInput
              fullWidth
              id="nombreInput"
              formControlName="apellido"
              [status]=" userFormErrors.apellido? 'danger': 'basic'"
            />
          </div>

          <!-- Descripcion Input Field -->
          <div class="form-group">
            <label for="inputDescripcion" class="label">Descripción</label>
            <textarea
              id="inputDescripcion"
              nbInput
              fullWidth
              shape="semi-round"
              rows="5"
              formControlName="descripcion"
            ></textarea>
          </div>
        </div>

        <div class="col-sm-12 col-md-5">
          <!-- <label class="label">Tu foto de perfil</label> -->
          <br />

          <div class="row justify-content-center">

            <div *ngIf="!cambiarFoto" style="padding: 0 20px;">
              <img
                [src]="retratoImg"
                alt="Foto de perfil"
                class="profile-photo"
              />
              <button type="button" class="mt-2" nbButton outline status="success" size="tiny" shape="round" fullWidth (click)="cambiarFoto=true">Cambiar Foto</button>
            </div>

            <div class="col-sm-12" *ngIf="cambiarFoto">

              <cba-image-upload (fileSelected)="catchFotoSubida($event)" (previewURL)="catchPreviewUrl($event)">
                <h5 class="text-center text-secondary">Clickea o arrastrá tu foto</h5>
              </cba-image-upload>
              <button type="button" class="mt-1" nbButton hero status="danger" size="tiny" fullWidth (click)="cambiarFoto=false">Cancelar</button>

            </div>

          </div>
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button type="button" class="mr-2" nbButton outline status="danger" [routerLink]="['/pages/perfil/ver-perfil']">
          Cancelar
        </button>
        <button type="submit" nbButton>Actualizar</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
