<form [formGroup]="userForm" (ngSubmit)="submitUserForm()">
  <nb-card class="own-scroll">
    <nb-card-header>
      <h4>Actualizá tus datos</h4>
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <!-- Nombre Input Field -->
          <div class="form-group">
            <label for="nombreInput" class="label">Nombre</label>
            <input
              type="text"
              nbInput
              fullWidth
              id="nombreInput"
              formControlName="nombre"
            />
          </div>

          <!-- Apellido Input Field -->
          <div class="form-group">
            <label for="apellidoInput" class="label">
              Apellido
            </label>
            <input
              type="text"
              nbInput
              fullWidth
              id="nombreInput"
              formControlName="apellido"
            />
          </div>

          <!-- Descripcion Input Field -->
          <div class="form-group">
            <label for="inputDescripcion" class="label">Descripción</label>
            <textarea
              id="inputDescripcion"
              nbInput
              fullWidth
              shape="semi-round"
              rows="5"
              formControlName="descripcion"
            ></textarea>
          </div>
        </div>

        <div class="col-sm-12 col-md-6">
          <label class="label">Tu foto de perfil</label>
          <br>

          <div class="row">
            <div class="col-sm-12 col-md-6">
              <img src="assets/images/rodri.png" alt="Foto de perfil" class="profile-photo">

            </div>
            <div class="col-sm-12 col-md-6">
              <label
                *ngIf="uploader.queue.length === 0"
                for="uploader-input"
                ng2FileDrop           
                [ngClass]="{ 'nv-file-over': hasDropZoneOver }"
                (fileOver)="fileOverDropZone($event)"
                [uploader]="uploader"
                class="well my-drop-zone"
                >Arrastra aqui tu foto o clickea para seleccionar una del
                explorador</label
              >
              <input
                type="file"
                ng2FileSelect
                [uploader]="uploader"
                id="uploader-input"
                style="display:none"
              />
              <ul>
                  <li *ngFor="let item of uploader.queue">
                    {{ item?.file?.name }}
                    <img [src]="previewPath" style="width: 50px; height: 50px;">
      
                  </li>
                </ul>
      
                <!-- <button
                  type="button"
                  nbButton
                  outline
                  status="success"
                  (click)="uploader.uploadAll()"
                  [disabled]="!uploader.getNotUploadedItems().length"
                >
                  Upload Files
                </button> -->
      
                <button
                  type="button"
                  nbButton
                  outline
                  status="danger"
                  (click)="uploader.clearQueue()"
                  [disabled]="!uploader.queue.length"
                  *ngIf="uploader.queue.length !== 0"
                >
                  Quitar imagen
                </button>


            </div>
          </div>

          
          
        </div>
      </div>    
      
    </nb-card-body>

    <nb-card-footer>
      <div class="d-flex justify-content-end">
        <button type="button" class="mr-2" nbButton outline status="danger">
          Cancelar
        </button>
        <button type="submit" nbButton>Actualizar</button>
      </div>
    </nb-card-footer>
  </nb-card>
</form>
